<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khoj</title>
</head>
<body>

    <h1>Khoj</h1>

    {% if khoj_form %}
    <form action="" method="POST">  {% csrf_token %}
        {% for kf in khoj_form %}
        {{kf.label_tag}} {{kf}} <small class="text-warning-emphasis" >{{kf.errors|striptags}}</small>  <br><br>
        {% endfor %}
        <input type="submit" value="Khoj">
    </form>
    {% else %}

    <p id="result"><b>Result:</b>{{khoj_result}}</p>
     <a href="/">Refrash</a>
    {% endif %}

    {% if messages %}
    {% for mg in messages %}
    {{mg}}
    {% endfor %}
    {% endif %}

</body>
</html>