

{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="col-sm-9  mt-5 mb-5">
    <h1 class="text-dark Roboto mt-5">
        Welcome to Ami Coding Pari Na.
    </h1>

</div>
{% if request.user.is_authenticated %}
<div class="col-sm-9  my-3">
    
    <a href="{% url 'khoj' %}" class="mx-3 Roboto btn btn-outline-dark btn-lg" role="button" aria-pressed="true">Khoj Page</a>
    <a href="{% url 'logout' %}" class="Roboto btn btn-outline-danger btn-lg" role="button" aria-pressed="true">Logout</a>
</div>

{% else %}
<div class="col-sm-9  my-3">
    <a href="{% url 'registration' %}" class="mx-3 Roboto btn btn-outline-dark btn-lg" role="button" aria-pressed="true">Create Account</a>
    <a href="{% url 'login' %}" class="Roboto btn btn-outline-dark btn-lg" role="button" aria-pressed="true">Login</a>
</div>
{% endif %}

{% endblock content %}